@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync("CartSumList")

<!-- Slider -->
@await Component.InvokeAsync("SliderList")

<!-- Boşluk eklemek için bir div -->
<div style="margin-top: 20px;"></div>

<!-- Product Overview -->
@await Component.InvokeAsync("ProductOverview")
